* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 15px;
}

#fixed {
    /* height: 80px; */
    width: 400px;
    margin: 0;
    background-color: antiquewhite;
    border: 2px solid orange;
    position: sticky;
    top: 0;
    /* left: 50px; */
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 50px;
    /* left: 0px;
    bottom: 0px;
    right: 0px; */
}