* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* border: 2px solid red; */
    background-color: bisque;
    width: 100%;
    height: 100vh;
}

#up {
    height: 45%;
    background-color: black;
}

#bottom {
    height: 55%;
    display: flex;
}

#b1 {
    width: 20%;
    background-color: chartreuse;
}

#b2 {
    width: 30%;
    /* background-color: coral; */
    background-image: url(https://images.unsplash.com/photo-1770768061898-6d5c4f5d77a5?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#b3 {
    width: 20%;
    background-color: cornflowerblue;
}

#b4 {
    width: 30%;
    background-color: crimson;
}

#b1-up {
    height: 50%;
    background-color: forestgreen;
}

#b1-bottom {
    height: 50%;
    background-color: rgb(211, 103, 183);
}