* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
} 

#container {
    position: relative;
}

#img {
    width: 100%;
    height: 726px;
    opacity: 0.4;
}

.text {
    position: absolute;
    color: rgb(0, 21, 255);
    font-size: 30px;
    font-weight: 900;
}

#text-tl {
    top: 0;
    left: 0;
}

#text-tr {
    top: 0;
    right: 0;
}

#text-bl {
    bottom: 0;
    left: 0;
}

#text-br {
    bottom: 0;
    right: 0;
}

#text-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}