* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    margin: 50px;
    /* position: relative; */
}

#red-box {
    border: 2px solid red;
    height: 220px;
    width: 150px;
    position: absolute;
    z-index: 1;
}

#green-box {
    border: 2px solid green;
    height: 180px;
    width: 220px;
    position: absolute;
    z-index: -2;
}

#blue-box {
    border: 2px solid blue;
    height: 320px;
    width: 100px;
    position: absolute;
    z-index: -5;
}