* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#head {
    text-align: center;
}

#container {
    border: 2px solid green;
    height: 500px;
    margin: 20px 15px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px 0;
}