* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    margin: 50px;
    position: relative;
}

#red-box {
    background-color: red;
    height: 120px;
    width: 120px;
    /* margin-top: 20px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* left: 150px; */
}

#green-box {
    background-color: green;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blue-box {
    background-color: blue;
    height: 120px;
    width: 120px;
}