* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 10px solid #685515;
    border-radius: 20px;
    background-color: rgba(14, 194, 14, 0.616);

    height: 300px;
    width: 40%;

    /* border-left-width: 10px;
    border-left-style: solid;
    border-left-color: red;

    border-right-width: 15px;
    border-right-style: dashed;
    border-right-color: blue; */
}