* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

nav {
    background-color: rgb(7, 13, 31);
    height: 80px;
}

#container {
    /* border: 5px solid blue; */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 130px; */
}

#links ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.link:hover {
    color: orangered;
}

#logo {
    /* border: 2px solid red; */
    display: flex;
    gap: 15px;
}

#logo-img {
    border-radius: 50%;
}

#logo-head {
    color: whitesmoke;
    font-family: "Tagesschrift", system-ui;
    /* display: inline-block; */
}

#icons {
    color: whitesmoke;
    font-size: 22px;
}