* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 20px 50px;
    padding: 20px;
    /* grid-template-rows: 200px 100px 400px; */
    justify-content: center;
    align-content: center;
}

#container div {
    background-color: chocolate;
    height: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}