* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 5px solid red;
    /* outline: 15px dashed greenyellow; */
    /* padding-left: 50px;
    padding-top: 23px; */
    /* padding: 45px; */
    /* padding: 12px 45px 20px 30px; */
    /* padding: 12px 45px 20px; */
    /* padding: 12px 40px; */
    padding: 40px;
    margin: 15px;
    
}

a {
    text-decoration: none;
}

h1 {
    color: rgb(255, 174, 0);
    text-align: center;
    text-decoration-line: line-through;
    text-decoration-color: black;
    text-decoration: none;
    text-transform: capitalize;
}

p {
    text-indent: 20px;
    /* letter-spacing: 50px; */
    line-height: 2.5;
    word-spacing: 15px;
} 