* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 2px solid red;
    padding: 20px;
    margin: 12px;
    border-radius: 50px 100px 10px 200px;
    height: 200px;
    width: 200px;
}