* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.image-container {
    border: 2px solid blue;
    margin: 20px;
    width: 200px;
    height: 300px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}