* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#example1 {
    border: 2px solid rgb(255, 154, 47);
    padding: 15px;
    margin: 20px;
    background-image: url('./mountain.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
}

.para {
    margin-top: 15px;
}