* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#heading {
    margin: 30px;
    color: black;
    text-shadow: 5px 5px 10px red, 2px 2px 5px green, 10px 10px 5px blue;
}

#box {
    height: 150px;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: bisque;
    box-shadow: 20px 5px 10px 10px green inset;
}