* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#heading {
    font-family: "BBH Bartle", sans-serif;
    font-size: 20px;
    letter-spacing: 8px;
    text-decoration: underline;
    color: rgb(81, 115, 209);
    margin: 20px 0;
    text-align: center;
    font-style: italic;
}

#para {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    /* font-variant: small-caps; */
    text-align: left;
    margin: 0 20px;
} 

#icon {
    font-size: 70px;
}