* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}


/* -------------------- Without Column Property --------------------- */
/* #container {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    display: flex;
    gap: 10px;
}

#box1, #box2, #box3 {
    border: 1px solid blue;
    width: 33.33%;
} */




/* -------------------- With Column Property --------------------- */
#container {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
    column-count: 3;
    column-rule: 1px solid blue;
    column-gap: 20px;
    column-span: all;
}