* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.test1 {
  width: 200px;
  border: 2px solid black;
  margin: 20px;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.test2 {
  width: 200px;
  border: 2px solid black;
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wordBreak {
  border: 2px solid red;
  margin: 12px;
  padding: 20px;
}

.test3 {
  margin: 10px;
  border: 1px solid;
  /* padding: 8px; */
  word-break: keep-all;
  width: 120px;
}
