* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#container {
    border: 2px solid green;
    margin: 20px;
    width: 200px;
    height: 200px;
    overflow: auto;
}