* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.sticky {
    height: 50px;
    width: 40%;
    margin-bottom: 50px;
    border: 2px solid orangered;
    position: sticky;
    top: 0;
}